body{
    background-color: #EEEEEE;
}
#container{
    background-color: white;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
#header{
    background-color:#66CCFF;
    color: white;
    text-align: center;
    padding: 10px;
}
#content{
    padding: 10px;
}
#nav{
    width: 180px;
    float: left;
}
#nav .selected{
    font-weight: bold;
}
h1{
    margin: 0;
}
#nav ul{
    list-style-type: none;
    padding: 0%;
}
a{
    text-decoration: none;
    color:red;
}
#main{
    width: 600px;
    float: right;
}
#footer{
    clear: both;
    background-color: gray;
    color: white;
    text-align: right;
}